openapi: 3.0.3
info:
  title: Agentic Intent Protocol (AIP)
  version: "0.1"
  description: |
    The Agentic Intent Protocol (AIP) defines how AI platforms, brand agents, and ad networks
    communicate to power conversational and agentic advertising.
    This reference describes the standard AIP endpoints implemented by the AdMesh Ad Network.

servers:
  - url: https://api.admesh.ai
    description: AdMesh Exchange (Production)
  - url: https://sandbox.admesh.ai
    description: Sandbox Environment

tags:
  - name: Context
    description: Platform requests to initiate auctions
  - name: Bidding
    description: brand agents submit bids
  - name: Events
    description: Track CPX, CPC, and CPA lifecycle events
  - name: Ledger
    description: Inspect final states for serve tokens
  - name: Payouts
    description: Platform balance and payout requests

components:
  securitySchemes:
    HMACAuth:
      type: apiKey
      in: header
      name: X-AIP-Signature
      description: >
        HMAC-SHA256 signature using shared secret, computed over method, path, body, timestamp, and nonce.
  parameters:
    VersionHeader:
      name: X-AIP-Version
      in: header
      required: true
      schema:
        type: string
        example: "0.1"
    NonceHeader:
      name: X-Nonce
      in: header
      required: true
      schema:
        type: string
        example: "n_1b92e"
    TsHeader:
      name: X-Timestamp
      in: header
      required: true
      schema:
        type: string
        format: date-time
        example: "2025-11-11T18:00:00Z"
  schemas:
    ContextRequest:
      type: object
      required: [request_id, session_id, platform_id, query_text, locale, geo, ts, auth]
      properties:
        request_id:
          type: string
          example: "rq_92f"
        session_id:
          type: string
          example: "s_001"
        platform_id:
          type: string
          example: "pf_chatapp"
        query_text:
          type: string
          example: "best CRM for small teams"
        surface:
          type: string
          enum: [chat, voice, page, result_card]
        locale:
          type: string
          example: "en-US"
        geo:
          type: string
          example: "US"
        pricing:
          type: object
          properties:
            cpx_floor:
              type: string
              example: "0.03"
        features:
          type: object
          properties:
            topic:
              type: array
              items: { type: string }
              example: ["crm", "smb"]
            user_type:
              type: string
              enum: [human, agent]
              example: "human"
        ts:
          type: string
          format: date-time
        auth:
          type: object
          properties:
            nonce: { type: string, example: "n_123" }
            sig: { type: string, example: "sig_abcd" }

    Bid:
      type: object
      required: [bid_id, brand_agent_id, context_id, wallet_id, pricing, offer, timestamp, auth]
      properties:
        bid_id: { type: string, example: "bid_7823" }
        brand_agent_id: { type: string, example: "brand_agent_123" }
        context_id: { type: string, example: "ctx_92f" }
        wallet_id: { type: string, example: "wallet_890" }
        pricing:
          type: object
          required: [cpx]
          properties:
            cpx: { type: string, example: "0.05" }
            cpc: { type: string, example: "0.45" }
            cpa: { type: string, example: "10.00" }
            currency: { type: string, example: "USD" }
        offer:
          type: object
          properties:
            creative_input:
              type: object
              required: [brand_name, product_name, descriptions, value_props, resource_urls, image_urls]
              properties:
                brand_name: { type: string, example: "Nimbus" }
                product_name: { type: string, example: "Nimbus CRM Pro" }
                descriptions:
                  type: array
                  items: { type: string }
                  example: ["AI-native CRM for 5-50 person teams."]
                value_props:
                  type: array
                  items: { type: string }
                  example: ["Automated pipeline insights", "Embedded copilots"]
                resource_urls:
                  type: array
                  items: { type: string, format: uri }
                  example: ["https://nimbus.example/signup"]
                image_urls:
                  type: array
                  items: { type: string, format: uri }
                  example: ["https://cdn.example.com/nimbus/crm.png"]
        timestamp:
          type: string
          format: date-time
        auth:
          type: object
          required: [nonce, signature]
          properties:
            nonce: { type: string, example: "nonce_456" }
            signature: { type: string, example: "sig_789" }
        extensions:
          type: object
          additionalProperties: true

    AuctionResult:
      type: object
      required: [auction_id, serve_token, winner, render, ttl_ms]
      properties:
        auction_id: { type: string, example: "auc_981" }
        serve_token: { type: string, example: "stk_abcxyz123" }
        winner:
          type: object
          required: [brand_agent_id, preferred_unit, reserved_amount_cents]
          properties:
            brand_agent_id: { type: string, example: "brand_agent_123" }
            preferred_unit: { type: string, enum: [CPX, CPC, CPA], example: "CPA" }
            reserved_amount_cents: { type: integer, minimum: 0, example: 500 }
        render:
          type: object
          properties:
            label: { type: string, enum: ["[Ad]"] }
            title: { type: string, example: "Scale your CRM" }
            body: { type: string, example: "Built for founders." }
            cta: { type: string, example: "Try for free" }
            url: { type: string, format: uri, example: "https://admesh.click/stk_abcxyz123" }
        ttl_ms: { type: integer, example: 60000 }
    EventCPX:
      type: object
      required: [event_type, serve_token, session_id, platform_id, agent_id, wallet_id, pricing, ts]
      properties:
        event_type: { type: string, const: "cpx_exposure" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        agent_id: { type: string }
        wallet_id: { type: string }
        pricing:
          type: object
          properties:
            unit: { type: string, enum: ["CPX"] }
            amount: { type: string, example: "0.034" }
            currency: { type: string, example: "USD" }
        exposure_metadata:
          type: object
          properties:
            surface: { type: string, example: "chat" }
            position: { type: integer, example: 1 }
            visibility_ms: { type: integer, example: 1500 }
        ts: { type: string, format: date-time }

    EventCPC:
      type: object
      required: [event_type, serve_token, session_id, platform_id, brand_agent_id, wallet_id, pricing, timestamp]
      properties:
        event_type: { type: string, const: "cpc_click" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        brand_agent_id: { type: string }
        wallet_id: { type: string }
        pricing:
          type: object
          required: [unit, amount_cents]
          properties:
            unit: { type: string, const: "CPC" }
            amount_cents: { type: integer, minimum: 0, example: 45 }
        click_metadata:
          type: object
          properties:
            source:
              type: string
              enum: [deep_link, button, voice_confirmation, agent_action]
            position:
              type: integer
              minimum: 1
        timestamp: { type: string, format: date-time }

    EventCPA:
      type: object
      required: [event_type, serve_token, conversion_id, conversion_type, wallet_id, brand_agent_id, pricing, timestamp]
      properties:
        event_type: { type: string, const: "cpa_conversion" }
        serve_token: { type: string }
        conversion_id: { type: string }
        conversion_type:
          type: string
          enum: [signup, purchase, trial_start, demo_request, download, custom]
        wallet_id: { type: string }
        brand_agent_id: { type: string }
        pricing:
          type: object
          required: [unit, amount_cents]
          properties:
            unit: { type: string, const: "CPA" }
            amount_cents: { type: integer, minimum: 0 }
        order_value_cents: { type: integer, minimum: 0 }
        currency: { type: string, pattern: "^[A-Z]{3}$" }
        conversion_metadata:
          type: object
          properties:
            user_id: { type: string }
            order_id: { type: string }
            product_ids:
              type: array
              items: { type: string }
        timestamp: { type: string, format: date-time }

    Balance:
      type: object
      properties:
        available_balance: { type: string, example: "3241.25" }
        pending_balance: { type: string, example: "850.75" }
        currency: { type: string, example: "USD" }

    PayoutRequest:
      type: object
      properties:
        amount: { type: string, example: "2500.00" }
        currency: { type: string, example: "USD" }
paths:
  /aip/context:
    post:
      summary: Submit a ContextRequest
      description: >
        AI platforms send user intent contexts to AdMesh.
        AdMesh returns the winning bid (AuctionResult) for rendering.
      tags: [Context]
      parameters:
        - $ref: "#/components/parameters/VersionHeader"
        - $ref: "#/components/parameters/NonceHeader"
        - $ref: "#/components/parameters/TsHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContextRequest" }
      responses:
        "200":
          description: Auction result with winning creative
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuctionResult" }

  /aip/bid:
    post:
      summary: Submit a Bid
      tags: [Bidding]
      description: >
        brand agents use this endpoint to place bids on incoming contexts.
        The bid includes CPX, CPC, and CPA values, and a preferred unit.
      parameters:
        - $ref: "#/components/parameters/VersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Bid" }
      responses:
        "202":
          description: Bid accepted

  /aip/events:
    post:
      summary: Send event (CPX, CPC, or CPA)
      tags: [Events]
      description: >
        Platforms post events representing exposures, clicks, or conversions.
        Each serve_token can settle only one final event (CPA > CPC > CPX).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/EventCPX"
                - $ref: "#/components/schemas/EventCPC"
                - $ref: "#/components/schemas/EventCPA"
      responses:
        "202":
          description: Event accepted for processing

  /ledger/{serve_token}:
    get:
      summary: Get ledger record by serve_token
      tags: [Ledger]
      parameters:
        - in: path
          name: serve_token
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Ledger record found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuctionResult" }

  /platforms/{id}/balance:
    get:
      summary: Get platform balance
      tags: [Payouts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          example: "pf_chatapp"
      responses:
        "200":
          description: Current balance for platform
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Balance" }

  /payouts/request:
    post:
      summary: Request monthly payout
      tags: [Payouts]
      description: >
        Platforms request payout once per month.
        Funds older than 14 days are eligible for withdrawal.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PayoutRequest" }
      responses:
        "202":
          description: Payout request accepted
