openapi: 3.0.3
info:
  title: Agentic Intent Protocol (AIP)
  version: "1.0"
  description: |
    The Agentic Intent Protocol (AIP) defines how AI platforms, brand agents, and ad networks
    communicate to power conversational and agentic advertising.
    This reference describes the standard AIP endpoints implemented by the AdMesh Ad Network.

servers:
  - url: https://api.admesh.ai
    description: AdMesh Exchange (Production)
  - url: https://sandbox.admesh.ai
    description: Sandbox Environment

tags:
  - name: Requests
    description: Platform requests to initiate auctions
  - name: Bidding
    description: brand agents submit bids
  - name: Events
    description: Track CPX, CPC, CPE, and CPA lifecycle events
  - name: Ledger
    description: Inspect final states for serve tokens
  - name: Payouts
    description: Platform balance and payout requests

components:
  securitySchemes:
    HMACAuth:
      type: apiKey
      in: header
      name: X-AIP-Signature
      description: >
        HMAC-SHA256 signature using shared secret, computed over method, path, body, timestamp, and nonce.
  parameters:
    VersionHeader:
      name: X-AIP-Version
      in: header
      required: true
      schema:
        type: string
        example: "1.0"
    NonceHeader:
      name: X-Nonce
      in: header
      required: true
      schema:
        type: string
        example: "n_1b92e"
    TsHeader:
      name: X-Timestamp
      in: header
      required: true
      schema:
        type: string
        format: date-time
        example: "2025-11-11T18:00:00Z"
  schemas:
    PlatformRequest:
      $ref: "../schemas-json/platform-request.json"

    Bid:
      $ref: "../schemas-json/bid.json"

    PlatformResponse:
      $ref: "../schemas-json/auction-result.json"
    EventExposureShown:
      type: object
      required: [event_type, serve_token, session_id, platform_id, agent_id, wallet_id, settlement, ts]
      properties:
        event_type: { type: string, const: "exposure_shown" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        agent_id: { type: string }
        wallet_id: { type: string }
        settlement:
          type: object
          required: [unit, amount_micros, currency]
          properties:
            unit: { type: string, enum: ["CPX"] }
            amount_micros: { type: integer, minimum: 0, example: 34000 }
            currency: { type: string, example: "USD" }
        exposure_metadata:
          type: object
          properties:
            surface: { type: string, example: "chat" }
            position: { type: integer, example: 1 }
            visibility_ms: { type: integer, example: 1500 }
        ts: { type: string, format: date-time }

    EventInteractionStarted:
      type: object
      required: [event_type, serve_token, session_id, platform_id, agent_id, wallet_id, settlement, ts]
      properties:
        event_type: { type: string, const: "interaction_started" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        agent_id: { type: string }
        wallet_id: { type: string }
        settlement:
          type: object
          required: [unit, amount_micros, currency]
          properties:
            unit: { type: string, enum: [CPC, CPE] }
            amount_micros: { type: integer, minimum: 0, example: 450000 }
            currency: { type: string, example: "USD" }
        interaction_metadata:
          type: object
          properties:
            source:
              type: string
              enum: [deep_link, button, voice_confirmation, agent_action]
            position:
              type: integer
              minimum: 1
        ts: { type: string, format: date-time }

    EventDelegationStarted:
      type: object
      required: [event_type, serve_token, session_id, platform_id, agent_id, delegation_session_id, ts]
      properties:
        event_type: { type: string, const: "delegation_started" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        agent_id: { type: string }
        delegation_session_id: { type: string }
        delegation_metadata:
          type: object
          properties:
            context_scope:
              type: array
              items: { type: string }
        ts: { type: string, format: date-time }

    EventTaskCompleted:
      type: object
      required: [event_type, serve_token, session_id, platform_id, agent_id, outcome_type, settlement, ts]
      properties:
        event_type: { type: string, const: "task_completed" }
        serve_token: { type: string }
        session_id: { type: string }
        platform_id: { type: string }
        agent_id: { type: string }
        outcome_type:
          type: string
          enum: [signup, purchase, trial_start, demo_request, download, custom]
        wallet_id: { type: string }
        settlement:
          type: object
          required: [unit, amount_micros, currency]
          properties:
            unit: { type: string, const: "CPA" }
            amount_micros: { type: integer, minimum: 0, example: 10000000 }
            currency: { type: string, pattern: "^[A-Z]{3}$" }
        outcome_value_micros: { type: integer, minimum: 0 }
        outcome_metadata:
          type: object
          properties:
            user_id: { type: string }
            order_id: { type: string }
            product_ids:
              type: array
              items: { type: string }
        ts: { type: string, format: date-time }

    Balance:
      type: object
      properties:
        available_balance: { type: string, example: "3241.25" }
        pending_balance: { type: string, example: "850.75" }
        currency: { type: string, example: "USD" }

    PayoutRequest:
      type: object
      properties:
        amount: { type: string, example: "2500.00" }
        currency: { type: string, example: "USD" }
paths:
  /aip/request:
    post:
      summary: Submit a PlatformRequest
      description: >
        AI platforms send PlatformRequests to AdMesh.
        ContextRequest is operator-generated and downstream-facing only.
        AdMesh returns a PlatformResponse for rendering and downstream event tracking.
      tags: [Requests]
      parameters:
        - $ref: "#/components/parameters/VersionHeader"
        - $ref: "#/components/parameters/NonceHeader"
        - $ref: "#/components/parameters/TsHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlatformRequest" }
      responses:
        "200":
          description: Platform response with winner state and render payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformResponse" }

  /aip/bid:
    post:
      summary: Submit a Bid
      tags: [Bidding]
      description: >
        brand agents use this endpoint to place bids on incoming contexts.
        The bid includes CPX, CPC, CPE, and CPA values, and a preferred unit.
      parameters:
        - $ref: "#/components/parameters/VersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Bid" }
      responses:
        "202":
          description: Bid accepted

  /aip/events:
    post:
      summary: Send lifecycle event
      tags: [Events]
      description: >
        Platforms, operators, and brand agents post lifecycle events representing exposures,
        interactions, operator-recorded delegation starts, or completed outcomes.
        Each serve_token can settle only one final billable path.
        In v1.0, settlement order is flow-specific billing semantics, not a ranking rule:
        external click-out uses CPX -> CPC -> CPA, and delegated sessions use CPX -> CPE -> CPA.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/EventExposureShown"
                - $ref: "#/components/schemas/EventInteractionStarted"
                - $ref: "#/components/schemas/EventDelegationStarted"
                - $ref: "#/components/schemas/EventTaskCompleted"
      responses:
        "202":
          description: Event accepted for processing

  /ledger/{serve_token}:
    get:
      summary: Get ledger record by serve_token
      tags: [Ledger]
      parameters:
        - in: path
          name: serve_token
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Ledger record found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformResponse" }

  /platforms/{id}/balance:
    get:
      summary: Get platform balance
      tags: [Payouts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          example: "pf_chatapp"
      responses:
        "200":
          description: Current balance for platform
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Balance" }

  /payouts/request:
    post:
      summary: Request monthly payout
      tags: [Payouts]
      description: >
        Platforms request payout once per month.
        Funds older than 14 days are eligible for withdrawal.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PayoutRequest" }
      responses:
        "202":
          description: Payout request accepted
